.deliveryView {
  width: 65%;
  margin: 0px auto;
  margin-top: 2%;
}

.deliveryView__container {
  max-width: 400px;
  margin: 0px auto;
  margin-top: 10%;
}

.deliveryView__form__buttons {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.deliveryView__shippingFlow {
  margin-bottom: 20px;
}

.deliveryView__form__body {
  margin-bottom: 20px;
}

.deliveryView__form__line {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.deliveryView__form__line--left {
  display: flex;
  align-items: center;
}

.deliveryView__form__line--right--wrap {
  width: 50%;
  text-align: right;
}
