.loginView__container {
  width: 40%;
  margin: 0px auto;
  margin-top: 10%;
}

.loginView__title {
  text-align: center;
}

.loginView__form {
  display: flex;
  flex-direction: column;
}

.loginView__form__input {
  padding-left: 20px;
  height: 36px;
  outline: none;
  border: none;
  background-color: rgb(235, 235, 235);
  margin-bottom: 10px;
}

.loginView__form__submit {
  background-color: black !important;
  color: white !important;
}

.loginView__label {
  margin-bottom: 5px;
}
